a { color: #4B58A6; }

#map_canvas, #map_canvas img {
  max-width: none;
  height:100%;
}

canvas {-ms-touch-action: double-tap-zoom;}
/*Filters*/

.filter-box { 
  height: 15px; 
  width: 15px;  
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; 
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }

div #wrapper {background-color:#FAFAFA;}

.well {background:none;padding: 0 0 0 0; border:none;-webkit-box-shadow:none;box-shadow:none;border-radius:none;}
.well.one,.well.two,.well.three { box-shadow: none;transition: background-color .2s ease-in}
/*.well.one:hover,.well.two:hover,.well.three:hover {background-color: #FFFFFF;box-shadow: inset 0 -3px 9px -7px rgb(83, 83, 83)}*/
.well.two 
.tabcontainer {background-color:#fff;margin: 1% 0 0 0;display: block;}

.panecol {}
#panecol1 {
    height: auto;
    display: inline-block;
    width: 100%;
}
#panecol2 {
    width: 100%;
    display: inline-block;
}
#panecol3 {
    display: inline-block;
    width: 100%;
}
#panecol4 {}

.well.map {padding-right: :0 0 0 2%;}

.filterheader {font-weight: bold}

.dropdown.btn-group.mapLayers {}
.dropdown-menu a:hover {background-color: none;background-image:none;}
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: normal;      /* IE */
}
.mapLayers {list-style-type: none;position: absolute;z-index: 100;right: 146px;top: 5px;direction: ltr;    text-align: center;    color: rgb(0, 0, 0);  font-family: Arial, sans-serif;  -webkit-user-select: none;  font-size: 13px;  background-color: rgb(255, 255, 255);    border: 1px solid rgb(113, 123, 135);  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;    margin: 0px;}
.btn-primary.layer {text-shadow:none;font-family:'OpenSansRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;-webkit-transition:none;-khtml-transition:none;-moz-transition:none;-o-transition:none;transition:none;background-color:white;border:1px solid #CCC;border-radius:0px;border-bottom:none;background-image:none;display:block;color:#96979C;padding:0 15px;height:30px;line-height: 21px;margin-left:1px;position:relative;}
.btn-primary.search 

{border-radius: 0px;
display: inline-block;margin-bottom: 0;
background: #272732;
-webkit-transition-property: background-color;
-webkit-transition-duration: 100ms;
-webkit-transition-timing-function: ease-out;
-webkit-transition-delay: 0;moz-transition-property: background-color;
-moz-transition-duration: 100ms;
-moz-transition-timing-function: ease-out;
-moz-transition-delay: 0;
-ms-transition-property: background-color;
-ms-transition-duration: 100ms;
-ms-transition-timing-function: ease-out;
-ms-transition-delay: 0;
-o-transition-property: background-color;
-o-transition-duration: 100ms;
-o-transition-timing-function: ease-out;
-o-transition-delay: 0;
transition-property: background-color;
transition-duration: 100ms;

transition-timing-function: ease-out;
transition-delay: 0;
color: #fff;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
font-family: Arial,sans-serif;}

.btn-primary.search:hover {background: #63636d;}
/*input#search.btn.btn-primary {background:none;color:black;border:0px;}*/
#edi {direction: ltr;  overflow: hidden;  text-align: left;    color: rgb(0, 0, 0);  font-family: Arial, sans-serif;  -webkit-user-select: none;    background-color: rgb(255, 255, 255);  padding: 1px 6px;  border: 1px solid rgb(113, 123, 135);  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;    position: relative;height: 100%;width: 90%;} #edi.active {background-color: orange;color:white;text-shadow:1.5px 0px 1.5px rgba(0, 0, 0, .5)} #edi.disabled{background-color:white}
#default {direction: ltr;  overflow: hidden;  text-align: center;  position: relative;  color: rgb(0, 0, 0);  font-family: Arial, sans-serif;  -webkit-user-select: none;    background-color: rgb(255, 255, 255);  padding: 1px 6px;  border: 1px solid rgb(113, 123, 135);  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;    min-width: 29px;border-radius: 0px;height: 100%;clear: both;width: 30%;} #edi.active {background-color: orange;color:white;text-shadow:1.5px 0px 1.5px rgba(0, 0, 0, .5)}

/*.nav-tabs>li{opacity:.6;-webkit-transition: opacity 500ms ease;-moz-transition: opacity 500ms ease;-ms-transition: opacity 500ms ease;-o-transition: opacity 500ms ease;transition: opacity 500ms ease;}*/

.tabs {}





.nav.nav-tabs {
background-image: url('../img/tabbackgroundbottom.png');
    background-position: 0% 100%;
    background-repeat: repeat-x;  
}

/*.nav-tabs>li:hover{opacity:1;-webkit-transition: opacity 500ms ease;-moz-transition: opacity 500ms ease;-ms-transition: opacity 500ms ease;-o-transition: opacity 500ms ease;transition: opacity 500ms ease;}*/

#tableft {display: block;  float: left;  color: #8a92a5;  font-family: 'helvetica neue',sans-serif; 
 font-size: 14px;  font-weight: bold;  cursor: pointer;  text-decoration: none;  
 position: relative;width: 50%;height: 70px;background-image: url('../img/tabbackgroundlefttab.png');
background-position: 100% 100%;background-repeat: repeat-y;} 

#tabright {
    background-image: url('../img/tabbackgroundrighttab.png');
    background-position: 0% 100%;
    background-repeat: repeat-y;    
    display: inline-block;  
    float: left;  color: #8a92a5;  font-family: 'helvetica neue',sans-serif;  font-size: 14px;  font-weight: bold;  cursor: pointer;  text-decoration: none;  position: relative;
    width: 50%;
    height: 70px;
}

li#tableft.active #tabcap1 {background-image:url("../img/tab_capred.png");}
li#tabright.active #tabcap2 { background-image:url("../img/tab_capgreen.png");}

.tabcap {width:100%; height: 5px;background-image:url("../img/tab_capdesaturated.png");}

#icon1{background-image:url("../img/actionsdesaturated.svg");background-size: 55px 55px;width:55px;height:55px;display: inline-block;}
#icon2{background-image:url("../img/openingdesaturated.svg");background-size: 55px 55px;width:55px;height:55px;display: inline-block;}


.tabicon {
    float: left;
}
.iconcontent {}
.tabheadertext {
    display: inline-block;
    float: left;
    text-align: left;
    padding-left: 2%;
    word-wrap: break-word;
    padding-top: 3%;
    width: 50%;
}
.tabheadertext:hover {}
.tabheadertext{opacity:1;color:black;}

li#tableft.active {background-image:none; background-color: #fff}
li#tabright.active {background-image:none; background-color: #fff}

li#tableft .tabheadertext {opacity:.5;}
li#tabright .tabheadertext {opacity:.5;}

li#tableft.active .tabheadertext {opacity:1;}
li#tabright.active .tabheadertext {opacity:1;}

li#tableft.active #icon1 {background-image:url("../img/actions.svg");background-size: 55px 55px;width:55px;height:55px;display: inline-block;}
li#tabright.active #icon2 {background-image:url("../img/opening.svg");background-size: 55px 55px;width:55px;height:55px;display: inline-block;}

.tab-content {
  -moz-box-shadow: 1px 1px 2px rgba(180,180,180,0.4);
  -webkit-box-shadow: 1px 1px 2px rgba(180,180,180,0.4);
  box-shadow: 1px 1px 2px rgba(180, 180, 180, 0.4);
  border-bottom-right-radius: 25px;
}
.tabheadercontent {
    display: inline-block;
    padding-top: 2%;
    padding-left: 7%;
    width: 93%;
}



input[type=checkbox] { float:left;display:none; height: 0px; width: 0px;}

.checkboxCustom {color:black;display: inline-block;text-align: left;}
.checkboxCustom a {text-decoration: none;color:black;}
.checkboxCustom a:hover {text-decoration: none;color:black;}

.checkboxCustom label {position: relative;
  width:13px;
  height:13px;
  border-radius:3px;
  top: 0;
    left: 0;
  background: #eee;
  border:1px solid black; display: -moz-inline-stack; display: inline-block; text-align: left; vertical-align: middle;
   *vertical-align: auto; zoom: 1; *display: inline; background-color: white; font-size: 85%;
  opacity:.2;
} 


.checkboxCustom input[type=checkbox]:checked + label {position: relative;
  width:13px;
  height:13px;
  border-radius:3px;
  opacity:1;
  top: 0;
    left: 0;
  background: none;
  border:1px solid green; display: -moz-inline-stack; display: inline-block; text-align: left; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; background-color: white; font-size: 85%}
 
.checkboxCustom input[type=checkbox]:checked + label:after{
  content: '';
  position: absolute;
  width: 6px;
  height: 3px;
  background: transparent;
  top: 2px;
  left: 2px;
  border: 2px solid green;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

  input[type=checkbox]:not(:checked) + label:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 3px;
  background: transparent;
  top: 2px;
  left: 2px;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);}

.checkboxCustom label a {font-size: 70%;text-align:center;text-decoration:none;}
.checkboxCustom label a:hover {text-decoration:none;color:black;}

.checkboxCustom input[type=checkbox]:checked + label a {text-decoration:none;color:black;font-size:13px;}
.checkboxCustom input[type=checkbox]:not(:checked) + label a {color:black;opacity:1;font-size:13px}


  

.filterarray {float:left;list-style: none; display: inline-block;margin: 0 2% 0 0;}
.filtercontainer {clear:both;margin:0px;padding:0px;display: inline-block;margin: auto;width: 100%;font-size: 12px;}

.filtercount {font-size: 10;font-style: italic;margin:0 0 0 5px;}
.filtercount:before {
  content:'(';
    color:blue;
    font-size: 12px;
    font-style:none;
}
.filtercount:after {
  content:')';
    color:blue;
    font-size: 12px;
    font-style: none

}

#result_count {float:left;display:none;width:50%;height:15px;margin:0px;border-radius:0px;text-align:center;z-index:1000;position:relative;background-color:none;font-size:14px;padding:0 0 15px 0;opacity:1;color:orange;}
